[run]
source = src
branch = true

[report]
fail_under = 100
show_missing = true
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __main__ == '__main__':
    pass